<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Responsive Header</title>
  <link rel="stylesheet" href="/src/css/header.css" />
</head>
<body>

  <header>
    <nav class="contenedor">
      <!-- Logo -->
      <div class="logo">
        <a href="#"><img src="src/img/Logo.png" alt="Logo del banco" /></a>
      </div>

      <!-- Menu para escritorio -->
      <ul class="menu desktop">
        <li><a href="#about">Sobre Nosotros</a></li>
        <li><a href="#team">Equipo</a></li>
        <li><a href="#technologies">Tecnologías</a></li>
        <li><a href="#contact">Contáctanos</a></li>
      </ul>

      <!-- Botón Play para escritorio -->
      <div class="play-button desktop">
        <a href="Login.html" class="btn-play">Jugar</a>
      </div>

      <!-- Menú hamburguesa para móvil -->
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon">
        <span></span>
      </label>

      <!-- Menú para móvil -->
      <ul class="menu mobile">
        <li><a href="Login.html">Jugar</a></li>
        <li><a href="#about">Sobre Nosotros</a></li>
        <li><a href="#team">Equipo</a></li>
        <li><a href="#technologies">Tecnologías</a></li>
        <li><a href="#contact">Contáctanos</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>
