/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

/* Fondo animado */
.body-login {
    margin: 0;
    height: 90vh;
    background: linear-gradient(-45deg, #000000 0%, #2b2b2b 50%, #C1392B 100%);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    font-family: 'Roboto', sans-serif;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilo del ícono del juego */
.login-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.game-icon {
    width: 100px; /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
    border-radius: 2rem;
}

.game-icon:hover {
    transform: scale(1.2);
}

/* Contenedor del formulario de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51vh;
    margin: 0;
}

/* Caja de login */
.login-box {
    background-color: #12131a; /* Fondo oscuro */
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
    width: 500px;
    text-align: center;
    color: #ccc;
}

/* Título Login */
h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    color: #C1392B; /* Rojo intenso */
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}

/* Texto normal y párrafos */
p, label, .register-link, .background-quotes span {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    margin-bottom: 20px;
}

/* Ajustes para los párrafos dentro del login-box */
p {
    color: #aaa;
}

/* Estilos de los campos de entrada */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #ccc;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #444;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Checkbox de términos y condiciones */
.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
}

.terms input {
    margin-right: 10px;
}

.terms label {
    color: #ccc;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

/* Botón de login */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff6363; /* Cambio a un tono violeta estético */
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

/* Divider */
.divider {
    position: relative;
    margin: 15px 0;
    text-align: center;
    color: #aaa;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 42%;
    height: 1px;
    background-color: #555;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.divider span {
    font-size: 15px;
    padding: 0 10px;
    background-color: #333;
    position: relative;
    z-index: 1;
}

/* Botón de login con Google */
.google-btn {
    display: inline-block;
    border-radius: 5px; 
    overflow: hidden;
    margin: 0 auto;
}

.google-logo {
    width: 20px;
}

/* Enlace de registro */
.register-link {
    font-size: 14px;
    color: #ccc;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.register-link a {
    color: #ff6363;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link a:hover {
    text-decoration: underline;
    color: #c24848;
}

/* Checkbox estilizado */
.checkboxU {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #444;
    border: 2px solid #555;
    position: relative;
    cursor: pointer;
    appearance: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.checkboxU:checked {
    background-color: #ff6363; /* Color cuando está marcado */
    border-color: #ff6363; /* Color del borde cuando está marcado */
}

.checkboxU:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Contenedor de frases animadas */
.background-quotes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.background-quotes span {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    animation: moveQuotes 10s linear infinite;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
}

.background-quotes span:nth-child(1) {
    top: 20%;
    left: -100%;
    animation-delay: 0s;
}

.background-quotes span:nth-child(2) {
    top: 50%;
    left: -100%;
    animation-delay: 3s;
}

.background-quotes span:nth-child(3) {
    top: 80%;
    left: -100%;
    animation-delay: 6s;
}

/* Animación de movimiento */
@keyframes moveQuotes {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}
